@use 'src/app/shared/variables' as global;
$card-border-radius: 4px;
$card-image-height: 215px;

.card-image-wrapper,
.card-image-wrapper>img {
    height: $card-image-height;
    width: 100%;
}

.card {
    border-radius: $card-border-radius;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.card img {
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
}

.card-header {
    font-size: 1.2em;
    color: global.$text-dark-high;
}

.card-header-section>.card-header,
.card-sub-header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.card>.card-text-section {
    display: flex;
    padding: 8px;
    flex-direction: column;
    flex-grow: 0;
    color: global.$text-dark-medium;
}

.card-summary-text {
    height: 75px;
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
}

.card>span {
    flex-basis: 100%;
}

.card-content>div {
    margin: 8px 0;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.card-actions button:not(:first-of-type) {
    margin: 0px 8px;
}