@use 'src/app/shared/variables' as global;

.detail-page-menu-bar {
    height: calc(global.$top-nav-bar-height / 2);

    .title,
    .title span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}