<app-progress-slider (hasAnimationCompletedEvent)="slideshowAnimationComplete()"
    [shouldAnimate$]="shouldAnimateCountdown$" [duration]="6000"></app-progress-slider>
<div class="background-wrapper flex justify-center">
    <section class="items-center basis-1/12">
        <fa-icon [icon]="['fas', 'chevron-left']" size="lg" (click)="togglePreviousImage()"
            *ngIf="activeImageIndex > 0">
        </fa-icon>
    </section>

    <section class="image-wrapper basis-10/12 ">
        <div *ngFor="let image of renderedImages$ | async; let i = index;" class="relative flex">
            <img src="{{image.imageUrl}}" alt="{{image.title}}" aria-label="image" class="hidden" loading="eager"
                [class.active]="(activeImageIndex === 0 && i === 0) || (activeImageIndex !== 0 && i === 1)" />
        </div>

    </section>

    <section class="items-center basis-1/12">
        <fa-icon [icon]="['fas', 'chevron-right']" size="lg" (click)="toggleNextImage()" *ngIf="hasNextImage"></fa-icon>
    </section>
</div>