@use 'src/app/shared/variables' as global;

.background-wrapper {
    width: 100%;
    background-color: global.$snackbar-background-color;
}

.image-wrapper,
.image-wrapper>*>img {
    object-fit: contain;
}

.image-wrapper div {
    justify-content: center;
}

.background-wrapper>section {
    display: flex;
    justify-content: center;
}

fa-icon {
    cursor: pointer;
    color: global.$text-color-white;
}

.image-wrapper .active {
    display: block !important;
}

.image-wrapper .hidden {
    display: none;
}

.dot-container {
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 4px;
}

.dot {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: white;
    opacity: 0.4;
    margin: 0 2px;
    transition: 1s all ease;
}

.dot-container>.active {
    transition: 1s all ease;
    opacity: 1;
    background-color: global.$primary-color;
}