@use 'src/app/shared/variables' as global;

.background-wrapper {
    width: 100%;
    background-color: global.$snackbar-background-color;
    height: 500px;
}

.image-wrapper,
.image-wrapper>*>img {
    object-fit: contain;
}

.background-wrapper>section {
    display: flex;
    justify-content: center;
}

fa-icon {
    cursor: pointer;
    color: global.$text-color-white;
}

.image-wrapper .active {
    display: block !important;
}