$primary-color: rgb(20, 184, 166);
$top-nav-bar-height: 80px;

$text-color-white: #ffffffb3;
$snackbar-background-color: #323232;

$text-dark-high: rgba(0, 0, 0, 0.87);
$text-dark-medium: rgba(0, 0, 0, 0.60);

$scrollLength: 100vh;