<nav id="header" class="fixed w-full z-30 top-0 border-b">
    <div class="flex flex-row justify-between p-6">
        <a routerLink="/"><h1 class="basis-1/4 uppercase text-xl">CKM Photography</h1></a>
        <!-- ToDo: Mobile menu -->
        <div class="basis-2/4 flex justify-center hidden md:flex">
            <button class="px-2 uppercase hover:underline text-sm md:text-base" routerLink="/gallery">Gallery</button>
            <button class="px-2 uppercase hover:underline text-sm md:text-base" routerLink="/about">Trips</button>
            <button class="px-2 uppercase hover:underline text-sm md:text-base" routerLink="/blog">About</button>
            <button class="px-2 uppercase hover:underline text-sm md:text-base" routerLink="/blog">Blog</button>
        </div>
        <div class="basis-1/4 flex justify-end hidden md:flex" id="socials">
            <div id="social-links">
                <a class="p-1" href="https://instagram.com/zahmoose" target="_blank">IG</a>
                <a class="p-1" href="https://500px.com/p/kennethmartens93" target="_blank">500PX</a>
            </div>
            
            <span class="ml-2"> New Work </span>
        </div>

    </div>
</nav>