@use 'src/app/shared/variables' as global;
@use 'src/app/shared/parallax' as parralax;

/** Tailwind LG screen */
@media (min-width: 1024px) {
    .image-overlay-landing-screen {
        height: calc(100vh - 1.5 * global.$top-nav-bar-height);
    }

    .two-col-text>p {
        width: 50%;
        padding: 0 1.5rem;
    }

    section {
        min-height: 60vh;
    }
}

.image-with-overlay-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.image-with-overlay-container>.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

.image-with-overlay-container>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.two-col-text {
    display: flex;
    flex-grow: 0;
}

.two-col-text>p {
    width: 100%;
    margin: 1rem;
    text-overflow: ellipsis;
}

.divider {
    border: 1px solid #45b97e;
}