.persona>img {
    border-radius: 50%;
    object-fit: cover;
    height: 128px;
    width: 128px;
}

.persona {
    justify-content: center;
    display: flex;
}

.persona>.image-loading-indicator {
    border-radius: 50%;
    object-fit: cover;
    height: 128px;
    width: 128px;
}

/** Tailwind LG screen */
@media (min-width: 1024px) {

    .persona>img {
        border-radius: 50%;
        object-fit: cover;
        height: 256px !important;
        width: 256px !important;
    }

    .persona>.image-loading-indicator {
        border-radius: 50%;
        object-fit: cover;
        height: 128px;
        width: 128px;
    }
}