<app-detail-page-nav-bar [title]="(active$ |async)?.header"></app-detail-page-nav-bar>
<div *ngIf="(active$ | async) as post; else loading" class="w-full">
    <div class="top-image-wrapper">
        <img class="image" src="{{post.imageUrl}}" alt="{{post.header}}" aria-label="Image supporting post" />

        <div class="text-container p-4 lg:p-2">
            <h1 class="text-3xl">{{post.header}}</h1>
            <h2 class="text-xl">{{post.subHeader}}</h2>
        </div>
    </div>

    <div class="container mx-auto p-4">
        <markdown>
            {{post.body}}
        </markdown>
    </div>

</div>

<ng-template #loading>
    loading
</ng-template>