@use 'src/app/shared/variables' as global;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.flat-button {
    color: global.$primary-color;
    text-transform: uppercase;
    font-size: 0.8em;
    cursor: pointer;
    flex-shrink: 0;
}

fa-icon {

    &:hover {
        font-size: 1.1rem;
        transition: 0.2s all ease;
    }
}

/**
    Back to top wrapper
*/
.back-to-top-wrapper {
    position: absolute;
    top: global.$scrollLength;
    right: 1.5rem;
    bottom: 0;
    width: 3em;
    pointer-events: none;
    z-index: 999;
}

.back-to-top-link {
    position: fixed;
    position: sticky;
    pointer-events: all;
    top: calc(100vh - 5rem);
    display: inline-block;
    text-decoration: none;
    line-height: 3rem;
    text-align: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.25rem;
    background-color: global.$primary-color;
    transition: transform 80ms ease-in;
    color: white;

    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}

/** 
    Parralax Scrolling
*/
main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

section {
    transform-style: preserve-3d;
}

.parallax {
    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

/**
    Background layers
*/
.image1 {
    background-image: url("./assets/2022Dakota/landscape-6.jpg");
}

.image2 {
    background-image: url("./assets/2022Dakota/landscape-3.jpg");
}

/** Blog markup */
.blog-content {
    h1 {
        font-size: 1.4em;
        color: global.$primary-color;
        padding: 2px 0px;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    p {
        padding: 4px 0;
    }

    hr {
        border-color: global.$primary-color;
        margin: 16px 0;
    }
}