<div class="gallery-item bg-slate-200" [ngClass]="{'animate-pulse': isLoading}">

    <div class="gallery-item-loaded-content" style="height: 100%;" [ngClass]="{'invisible': isLoading}">
        <span class="gallery-item-info p-2 top-0"
            *ngIf="this.isGallery; else animationHeader">{{galleryItem.title}}</span>

        <img src="{{galleryItem.imageUrl}}" alt="{{galleryItem.title}}" (load)="this.isLoading = false;" lazy-loading>

        <div class="gallery-item-author-info gallery-item-info gallery-info-animationable bottom-0 p-2"
            *ngIf="isGalleryImage()">
            <img class="persona" src="{{baseUrl}}/persona/{{getAuthor()}}.jpg">
            <span>{{getAuthor()}}</span>
        </div>
    </div>

</div>

<ng-template #animationHeader>
    <div class="gallery-info gallery-info-animationable gallery-item-info p-2 top-0">
        <span class="basis-full">{{galleryItem.title}}</span>
    </div>
</ng-template>